.main {
  margin: 30px;
}

.data {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  border-radius: 10px;
  background: lightgray;
  padding: 10px;
  cursor: pointer;
}

.validate {
  margin-top: 10px;
}